html, body {
  padding: 0;
  margin: 0;
  background-color: rgb(236, 211, 174);
  height: 100%;        /* Χρειάζεται για να δουλέψει το flex */
  display: flex;       /* Κάνει το body flex container */
  flex-direction: column; /* Στήλη, για να είναι πάνω-κάτω τα στοιχεία */
}

body{
  font-family: sans-serif;
}

.hero {
background-color: rgb(209, 131, 14);
color: antiquewhite;
padding: 50px 30px;
text-align: center;
position: relative;
margin-bottom: 15px;
}

.hero:before{
content:"";
position:absolute;
top: 0;
left: 0;
right: 0;
height: 10px;
background: linear-gradient(to left, rgb(214, 149, 52), rgb(209, 131, 14));
}

.hero:after{
content:"";
position:absolute;
bottom: 0;
left: 0;
right: 0;
height: 10px;
background: linear-gradient(to right, rgb(214, 149, 52), rgb(209, 131, 14));
}

.hero h1 {
  font-weight: normal;
  font-size: 3rem;
  margin: 0;
}

.hero h2 {
  font-weight: normal;
  font-size: 1.7rem;
  margin: 0;
}

.filter-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.filter-nav a:hover{
  background-color: rgb(255, 195, 104);
}

.filter-nav a {
  text-decoration: none;
  padding: 9px;
  color: rgb(209, 131, 14);
  border: 1px solid rgb(240, 176, 80);
  border-radius: 4px;
  margin: 4px;
}

.filter-nav .active{
background-color: rgb(209, 131, 14);
color: white;
}

.filter-nav .active:hover{
  background-color: rgb(209, 131, 14);
  cursor: default;
}

.semesters{
  max-width: 700px;
  margin: 0 auto;
}

.lessons-card {
  display: grid;
  margin-bottom: 30px;
  grid-template-columns: 100%;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}

.lessons-card-photo{
  order: 1;
  grid-row: 1;
  overflow: hidden;
}

.lessons-card-photo img{
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  transition: transform .3s ease-in-out;
}

.lessons-card:hover img{
  transform: rotate(20deg) scale(1.4);
}

.lessons-card-text{
  padding: 20px 25px;
}

.lessons-card-text h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 1.8rem;
}

.lessons-card-text small{
  color: rgb(176, 176, 176);
}

.lessons-card-text p{
  margin: .8rem 0;
  padding: 0;
  line-height: 1.5;
}

.primary-btn{
background: linear-gradient(rgb(214, 149, 52), rgb(209, 131, 14));
padding: 10px;
color: white;
border-radius: 5px;
text-decoration: none;
display: inline-block;
}

.primary-btn:hover{
background: linear-gradient(rgb(247, 185, 93), rgb(245, 162, 38));

}

.only-large-screen{
  display: none;
}

@media screen  and (min-width: 768px) {
  .lessons-card{
    grid-template-columns: 150px 1fr;
  }

  .hero h1{
    font-size: 6rem;
  }
  
  .only-large-screen{
    display: inline;
  }
}
.top{

  border-radius: 15px;
  background: linear-gradient(rgb(214, 149, 52), rgb(209, 131, 14));
  text-shadow: 2px 2px 10px purple;
}
.top:hover{
  background: linear-gradient(rgb(247, 185, 93), rgb(245, 162, 38));
}
 /* Dropdown Button */
 .dropbtn {
  background: linear-gradient(rgb(214, 149, 52), rgb(209, 131, 14));
  color: white;
  padding: 11px;
  font-size: 16px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  
  
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background: linear-gradient(rgb(247, 185, 93), rgb(245, 162, 38));
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: fixed;
  top: 25px;
  left: 10px;
  z-index: 1000;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;} 

 /* Style the button that is used to open and close the collapsible content */
 .collapsible {
  background: linear-gradient(rgb(214, 149, 52), rgb(209, 131, 14));
  color: white;
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 15px;

  
}
.collapsible:hover{
  background: linear-gradient(rgb(247, 185, 93), rgb(245, 162, 38));

}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.content-frame {
  flex: 1 1 auto; /* Καταλαμβάνει όλο το υπόλοιπο ύψος */
  width: 100%;
  border: none;
}
header, .hero, nav {
  flex: 0 0 auto; /* Κρατούν το φυσικό τους ύψος */
}
.my-info {
  text-align: center;
  position: fixed;
  bottom: 0px;
  right: 50%;
}


.audio-container {
 align-self: center;
  margin-bottom: 10px;
}

